body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    margin: 0;
}
h2{
    font-size: 25px;
}
.orange-color{
  color: orange;  
}
.flexible-container{
    display: flex;
    margin-bottom: 60px;

}
.half-width{
    width: 50%;
    padding: 10%;
}
.half-width img{
    width: 120%;
}
.person-pic{
    width: 20%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 100px;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.recipies{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.recipe-item{
    width: 20%;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 17px;
    padding-top: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px gray;
}
.recipe-item img{
    width: 90%;
}
.food-network{
    text-align: center;
    background-color: black;
    color: silver;
}
